footer {
    background: var(--color-primary);
    padding: 0.5rem 0;
    text-align: center;
    margin-top: 7rem;
}

footer a {
    color: var(--color-bg);
}


.footer__copyright{
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--color-bg);
}