*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
}

@import "sass/_colors.scss";
@import "sass/_typography.scss";

body{
    width: 100%;

    background-color: $back-color;
}

.border {
    border: 1px solid red;
}

@import "sass/_spacing.scss";
@import "sass/_layout.scss"