<%- include("partials/header") -%>

<div class="welcome">
    <h1 class="slogan-h1">Hi! I'm Hyago</h1>
    <h2 class="slogan-h2">Welcome to my online space</h2>
</div>

    <h1><%= currentDate %></h1>
    <h1><p><%= textIndex %></p></h1>

<%- include("partials/footer"); -%>